body{
background-image: linear-gradient(lightblue,lightyellow);
background-repeat: no-repeat;
}

img {

    width: 200px;
    height: auto;
}

#imageSnt, #imageDog, #imageClean {

    display: none;
    width: 200px;
    height:auto;
}

li{
    list-style: none;
}