body{

    margin:0px;

}

.gallery_grid {

display: grid;
grid-template-columns: repeat(4,1fr);
grid-auto-rows: auto;
gap:16px;
}

.gallery_grid > img{ 
    width: 100%;
    height: 100%;
    object-fit: cover;
}

